
body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: #FADADD;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
/* Carousal*/
h3 {
  display: inline-block;
  padding: 10px;
  background: #B9121B;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

/*navbar*/
.full-screen {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#navbar-primary .navbar-nav {
   /* background: #ededed; */
    width: 100%;
    text-align: center;
}
    #navbar-primary .navbar-nav li {
        display: inline-block;
        float: none;
    }
     #navbar-primary .navbar-nav a{
      padding-left: 30px;
      padding-right: 30px;
      font-size: 30px;
      font-family: "Leckerli One";
      color: #4B0082;

    }
#navbar-primary .navbar-nav a:hover {
    text-decoration: none;
     background-color: transparent;
}

/*footer*/
footer{
    font-size: 20px;
      font-family: "Leckerli One";
      color: #4B0082;
}
.img{
    position: relative;
    padding-left: 500px;
  
}

/*contact page */
  .topcorner{
                 font-family: cursive;
                 color: darkred;
                 font-size: 20px;
                 width: 500px;
                 font-weight: bolder;     
                 margin-top: 250px;
                 position:absolute;
                 top:0;
                 right:0;        
          }